@import url('https://fonts.googleapis.com/css2?family=ABeeZee&family=Aclonica&family=DM+Sans:opsz@9..40&family=Gothic+A1&family=Inter&family=Montserrat&family=Plus+Jakarta+Sans&family=Poppins&family=Preahvihear&family=Roboto&family=Rubik&display=swap');


*{
    margin: 0px;
    border: 0px;
   

}
body{
    background-color: black;
}
h1{
    color: #FFF;
    text-align: center;
    font-family: Roboto;
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.hero{
    height: 800px;
    width: 100%;
    background-color: rgb(0, 0, 0);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 40px;
}
.tiS{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 849px;
    height: 132px;
    flex-shrink: 0;
    background-color: #34344A;
    border-radius: 20px;
    
    color: #FFF;
    font-family: Roboto;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;

}
.tiS>div{
    display: flex;

    width: 50%;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 10px;
}
.currtimer{
    width: 413px;
height: 66px;
flex-shrink: 0;
    background-color: rgb(130, 129, 129);
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #FFF;
    text-align: center;
    font-family: Roboto;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;

}
.tiS > div>input{
    background-color: transparent;
    width: 20%;
    border: none;
    border-bottom: 2px solid rgb(0, 0, 0);

    color: #FFF;
    color: #FFF;
    text-align: center;
    font-family: Roboto;
    font-size: 48px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    text-decoration-line: underline;
}
.tiS >div > input:hover{
    -webkit-tap-highlight-color: transparent;
}
.tiS >div > input:focus {
    outline: none;

}
.tiS >button{
    width: 120px;
    height: 52px;
   
    border-radius: 26px;
background: #F0F757;
    color: #34344A;
    text-align: center;
    font-family: Roboto;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}
.tiS button:hover{
    cursor: pointer;
}

.atiS{
    width: 50%;
    height: 50%;
    border-radius: 20px;
  
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: flex-start;
    
}


.atiS>div{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    flex-direction: column;
}

#noItems{
    color: #FFF;
    text-align: center;
    font-family: Roboto;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.addCart{
    background-color: #34344A;
    width: 80%;
    height: 100px;
    border-radius: 20px;
    padding: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.addCart h1,p{
        color: #FFF;
    font-family: Roboto;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}
.addCart >button{
    width: 124px;
    height: 52px;
   
    border-radius: 26px;
background: #F0F757;
    color: #34344A;
    text-align: center;
    font-family: Roboto;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}
.addCart button:hover{
    cursor: pointer;
}

#jue{
    
    width: 100%;

    display: flex;
    flex-direction: column;
    gap: 20px;
}
.completed{
    background-color: #34344A;
    width: 80%;
    height: 100px;
    border-radius: 20px;
    padding: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    
}
.completed h1{
    color: #FFF;
    font-family: Roboto;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.completed button{
    width: 124px;
    height: 52px;
   
    border-radius: 26px;
background: #F0F757;
    color: #34344A;
    text-align: center;
    font-family: Roboto;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}